<h2> Responder's Profile</h2>
<% if current_user.role == "dispatcher" %>
  <a href="<%= reports_path %>" class="btn btn-primary">Report Index</a>
<% else %>  
  <p>You are signed up to receive notifications from our dispatchers</p>
<% end %>


<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, placeholder: "Joe" %>
  <%= f.input :phone, placeholder: "415-555-2323" %>
  <%= f.input :email, :required => true, :autofocus => true %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>

  <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
  <%= f.button :submit, "Update" %>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>
