<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {role: "form"}) do |f| %>
  <%= f.error_notification %>
  <%= f.input :email, :required => true, :autofocus => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>
  <%= f.button :submit, "Sign up" %>
<% end %>

<%= render "devise/shared/links" %>
