- if dispatches.present?
  %table.table.table-condensed
    %thead
      %tr
        %th Date
        %th Address
        %th Status
        %th
    %tbody
      - dispatches.each do |dispatch|
        %tr
          - report = dispatch.report
          = content_tag_for :tr, report, class: row_style(dispatch.status) do
            %td= dispatch.created_at.in_time_zone(report.agency.time_zone).strftime('%-m-%-d-%y')
            %td= report.address
            %td= dispatch.status.capitalize
            %td= link_to 'Details', report_path(report)
- else
  %weak Responder has not been dispatched to a report yet.
