= simple_form_for current_user, as: :user, url: user_registration_path do |f|
  = f.input :password, autocomplete: 'off'
  = f.input :password_confirmation, autocomplete: 'off'
  = f.input :current_password, autocompleted: 'off'
  = f.button :submit
%h2= "#{current_user.name}'s Profile"
= link_to 'Back', :back
