= simple_form_for user, as: :user, url: user_registration_path do |f|
  = f.input :password, autocomplete: 'off'
  = f.input :password_confirmation, autocomplete: 'off'
  = f.input :current_password, autocompleted: 'off'
  = f.button :submit, 'Change Password'
%hr
= link_to 'Back', :back, class: 'btn btn-default'
