%table.table.pusher
  %thead
    %tr
      %th Name
      %th Phone
      %th Email
      - if users[0].responder?
        %th Completed
        %th Rejected
      - if !deactivated && users[0].responder?
        %th Available
        %th Current Status
  %tbody
    - users.each do |user|
      = content_tag_for :tr, user do
        %th= link_to user.name, user_path(user)
        %td.phone= user.phone
        %td= link_to user.email, "mailto:#{user.email}"
        - if user.responder?
          %td= user.dispatches.completed_count
          %td= user.dispatches.rejected_count
        - if !deactivated && user.responder?
          - path = user.shifts.started? ? end_shift_user_path(user) : start_shift_user_path(user)
          %td
            = simple_form_for '', url: path, method: :post do |f|
              = f.check_box :available, checked: user.shifts.started?, class: 'availability'
          %td= ResponderPresenter.new(user).status
