%h2 Create a contact

= simple_form_for(@blank_contact) do |f|
  %h4 Time Initial Contact
  = f.input :start_time
  = f.input :end_time
  = f.input :travel_time
  = f.input :doc_time
  = f.input :client_name
  = f.input :reporting_party
  = f.input :incident_number
  = f.input :case_number
  = f.input :non_call_time
  = f.input :us_veteran
  = f.input :referral_type
  = f.input :contact_method
  = f.input :service_code
  = f.input :chart_status
  = f.input :person_contacted
  = f.input :place_of_service
  = f.input :contact_type
  = f.input :appointment_type
  = f.input :fifty_one_fifty_status
  = f.input :insurance
  = f.input :linkage_time
  = f.input :linkage_place
  
  = f.submit 'Submit Report'

/ = @location.address
/ = :lat(@location.latitude)
/ = :long(@location.longitude)