- if @responders.any?
  %table.table
    %thead
      %tr
        %th Name
        %th Phone
        %th Email
        %th Completed
        %th Rejected
    %tbody
      - @responders.each do |responder|
        = content_tag_for :tr, responder do
          %th= link_to responder.name, responder
          %td.phone= responder.phone
          %td= link_to responder.email, "mailto:#{responder.email}"
          %td= responder.completed_count
          %td= responder.rejected_count
- else
  %p.notice
    %br There are no responders to show.
