- if responders.any?
  %h3 Reports
  %table.table.pusher
    %thead
      %tr
        %th Name
        %th Phone
        %th Email
        %th Completed
        %th Rejected
        - unless deactivated
          %th Available
          %th Current Status
    %tbody
      - responders.each do |responder|
        = content_tag_for :tr, responder do
          %th= link_to responder.name, responder
          %td.phone= responder.phone
          %td= link_to responder.email, "mailto:#{responder.email}"
          %td= responder.completed_count
          %td= responder.rejected_count
          - unless deactivated
            - path = responder.on_shift? ? end_shift_responder_path(responder) : start_shift_responder_path(responder)
            %td
              = simple_form_for '', url: path, method: :post do |f|
                = f.check_box :available, checked: responder.on_shift?, class: 'availability'
            %td= responder.status
- else
  %p.notice
    %br There are no responders to show.
