- if responders.any?
  %table.table
    %thead
      %tr
        %th Name
        %th Phone
        %th Email
        %th Completed
        %th Rejected
        - unless deactivated
          %th Available
          %th Current Status
    %tbody
      - responders.each do |responder|
        = content_tag_for :tr, responder do
          %th= link_to responder.name, responder
          %td.phone= responder.phone
          %td= link_to responder.email, "mailto:#{responder.email}"
          %td= responder.completed_count
          %td= responder.rejected_count
          - unless deactivated
            %td= check_box_tag 'availability', nil, responder.available?, 'data-update' => responder_path(responder)
            %td= responder.status
- else
  %p.notice
    %br There are no responders to show.
