- if shifts.present?
  %h3 Shift Table
  %table.table.table-condensed
    %thead
      %th Date
      %th
        Time
        = "(24 hour, #{Time.now.localtime.zone})"
    %tbody
      - shifts.each do |shift|
        %tr
          %td
            = shift.start_time.localtime.strftime('%-m-%-d-%y')
            - if shift.end_time && shift.start_time.to_date != shift.end_time.to_date
              to
              = shift.end_time.localtime.strftime('%-m-%-d-%y')
          %td= "#{shift.start_time.localtime.strftime('%H:%M')} to #{shift.end_time ? shift.end_time.localtime.strftime('%H:%M') : 'now'}"
