%h2 Responders
- if @responders.any?
  %table.table
    %thead
      %tr
        %th Name
        %th Phone
        %th Email
        %th Completed
        %th Rejected
        %th Availability
        %th Current Status
    %tbody
      - @responders.each do |responder|
        = content_tag_for :tr, responder do
          %th= link_to responder.name, responder
          %td.phone= responder.phone
          %td= link_to responder.email, "mailto:#{responder.email}"
          %td= responder.completed_count
          %td= responder.rejected_count
          %td= check_box_tag 'availability', nil, responder.available?, 'data-update' => responder_path(responder)
          %td= responder.status
- else
  %p.notice It appears there are no responders

:javascript
  $("[name='availability']").bootstrapSwitch({
    onColor: 'success',
    onSwitchChange: function(event, state){
      var responderAvailability = state ? 'available' : 'unavailable',
      responderPhone = $(this).closest('tr').find('.phone').text(),
      path = $(this).data('update');
      $.ajax({
        url: path,
        type: 'PUT',
        data: {responder: {availability: responderAvailability}},
        success: function(data){
          console.log(data);
        }
      });
    }
  });
