.row
  .col-md-5
    %h1.name= "#{@responder.name} (Responder)"
  .col-md-5.col-md-offset-2
    - if @responder.active
      %br
      %label Available &nbsp
      - path = @responder.on_shift? ? end_shift_responder_path(@responder) : start_shift_responder_path(@responder)
      = simple_form_for '', url: path, method: :post do |f|
        = f.check_box :available, checked: @responder.on_shift?, class: 'availability'
    %br
    .phone= @responder.phone
    .email= link_to @responder.email, "mailto:#{@responder.email}"
%br
= render 'shift_table', shifts: @responder.shifts

%br
= render 'dispatch_table', dispatches: @responder.dispatches
.row
  %br
  - status = @responder.active ? 'Deactivate' : 'Reactivate'
  .col-sm-2= link_to "#{status} Responder", responder_path(@responder, responder: {active: !@responder.active}), method: :put,
    class: 'btn btn-warning'
