.row
  .col-md-5
    %h1.name= "#{@responder.name} (Responder)"
  .col-md-5.col-md-offset-2
    %br
    - if @responder.active
      - path = @responder.shifts.started? ? end_shift_responder_path(@responder) : start_shift_responder_path(@responder)
      = simple_form_for '', url: path, method: :post do |f|
        .availability
          = f.check_box :available, class: "available", :label => false, :inline_label => true, checked: @responder.shifts.started?
          %strong Available
    .phone= @responder.phone
    .email= link_to @responder.email, "mailto:#{@responder.email}"
%br
= render 'shift_table', shifts: @responder.shifts

%br
= render 'dispatch_table', dispatches: @responder.dispatches
.row
  %br
  - status = @responder.active ? 'Deactivate' : 'Reactivate'
  .col-sm-2= link_to "#{status} Responder", responder_path(@responder, responder: {active: !@responder.active}), method: :put,
    class: 'btn btn-warning'
