.row
  .col-md-5
    %h1.name= "#{@responder.name} (Responder)"
  .col-md-5.col-md-offset-2
    %label
      Availability
      %br
      = check_box_tag 'availability', nil, @responder.available?, 'data-update' => responder_path(@responder)
    %br
    .phone= @responder.phone
    .email= link_to @responder.email, "mailto:#{@responder.email}"
- if @responder.dispatches.present?
  %table.table.table-condensed
    %thead
      %th Date
      %th Address
      %th Status
      %th
    %tbody
      - @responder.dispatches.each do |dispatch|
        - report = dispatch.report
        = content_tag_for :tr, report, class: report.table_status do
          %td= report.created_at.strftime('%-m-%-d-%y')
          %td= report.address
          %td= report.status
          %td= link_to 'Details', report_path(report)
- else
  %strong Responder has not yet to be dispatched to a report.
.row
  .col-sm-2= link_to 'Delete Responder', responder_path(@responder), method: :delete,
    confirm: 'Are you sure you want to delete Responder?', class: 'btn btn-danger'

:javascript
  $("[name=availability]").on('change', function(){
     var responderAvailability = this.checked ? 'available' : 'unavailable',
     responderPhone = $(this).closest('tr').find('.phone').text(),
     path = $(this).data('update');
     $.ajax({
       url: path,
       type: 'PUT',
       data: {responder: {availability: responderAvailability}},
       success: function(data){
         console.log(data);
       }
     });
   })
   // $("[name='availability']").bootstrapSwitch({
   //   onColor: 'success',
   //   onSwitchChange: function(event, state){
   //     var responderAvailability = state ? 'available' : 'unavailable',
   //     responderPhone = $(this).closest('tr').find('.phone').text(),
   //     path = $(this).data('update');
   //     $.ajax({
   //       url: path,
   //       type: 'PUT',
   //       data: {responder: {availability: responderAvailability}},
   //       success: function(data){
   //         console.log(data);
   //       }
   //     });
   //   }
   // });
