.logroll
  %li.list-group-item
    %h4.list-group-item-heading
      .row
        .transcript-head.col-sm-6
          = "Transcript#{' with ' if report.accepted? }"
        .col-sm-6
          %span{style: 'float:right;'}
            - report.accepted_responders.each do |responder|
              .responder{style: 'float:right;'}
                = link_to responder.name, responder
                = "@ #{responder.phone}"
              %br
    %table.table#transcript
      %tbody
        - report.logs.each_with_index do |log, i|
          - log_presenter = LogPresenter.new(log)
          %tr.log-entry{id: log.id}
            = log_presenter.created_at
            = log_presenter.name
            = log_presenter.body
            = log_presenter.sms

  %li.list-group-item.metaphone
    = simple_form_for Log.new, remote: true do |f|
      .row
        .col-md-12= f.input :body, as: :string, label: false, placeholder: 'Enter details...'
        = f.input :author_id, as: :hidden, input_html: { value: current_user.id }
        = f.input :report_id, as: :hidden, input_html: { value: report.id }
