%th{title: report.created_at.to_s}
  .digits= "#{report.created_at.strftime("%I:%M %p")}"
  .words= "(#{time_ago_in_words(report.created_at)} ago)"
  .show_link= link_to("Show Details", report)

%td= link_to report.name, reporter_path(report, name: report.name)

%td= link_to report.phone, reporter_path(report, phone: report.phone)

%td
  - if report.age?
    %dt Age
    %dd= report.age
  - if report.gender?
    %dt Gender
    %dd= report.gender
  - if report.race?
    %dt Race
    %dd= report.race

%td
  = report.nature
  %dl
    - if report.setting?
      %dt Setting
      %dd= report.setting
    - if report.observations?
      %dt Observations
      %dd= report.observations

%td= link_to report.address, report.google_maps_address, target: '_blank'

%td{class: "report-#{report.id}-dispatch"}
  = render partial: "dispatches/create", locals: { report: report }
  = render partial: "dispatches/index", locals: { report: report } if report.dispatches.present?
