%table.table
  %thead
    %tr
      %th
        Date
        = link_to "<span class='glyphicon glyphicon-chevron-#{params[:order] == 'asc' ? 'up' : 'down'}'></span>".html_safe,
          history_reports_path(start_date: params[:start_date],
          end_date: params[:end_date],
          order: (['desc', 'asc'] - [params[:order]])[0]) if current_page?('/reports/history')
      %th Name
      %th Phone
      %th Client
      %th Incident
      %th Location
      %th Responder
  - if reports.none?
    %tbody
      %tr
        %td{colspan: 7} No Reports
  - else
    %tbody
      - reports.each do |report|
        = content_tag_for :tr, report, class: "freshness-#{report.freshness}" do
          = render "report_row", report: report
