
%tr{class: "freshness-#{report.freshness}"}
  %th{title: report.created_at.to_s}
    .digits= "#{report.created_at.strftime("%I:%M %p")}"
    .words= "(#{time_ago_in_words(report.created_at)} ago)"
    .show_link= link_to("Show Details", report)
  %th= report.name
  %td= report.phone
  %td
    %dl
      %dt Age
      %dd= report.age
      %dt Gender
      %dd= report.gender
      %dt Race
      %dd= report.race
  %td
    = report.nature
    %dl
      - if report.setting?
        %dt Setting
        %dd= report.setting
      - if report.observations?
        %dt Observations
        %dd= report.observations
  %td
    = report.address
    %br/
    %a{href: "http://maps.google.com/?ll=#{report.lat},#{report.long}", target: "_blank"}
      %img{src: "http://maps.googleapis.com/maps/api/staticmap?center=#{report.lat},#{report.long}&zoom=17&size=200x200&sensor=false&markers=size:mid%7Ccolor:blue%7C#{report.lat},#{report.long}%7C"}
  %td{class: "report-#{report.id}-dispatch"}
    - if report.unassigned?
      = simple_form_for(Dispatch.new) do |f|
        = f.hidden_field :report_id, value: report.id
        =f.association :responder, collection: Responder.available, label_method: :name, value_method: :id, label: false, prompt: "Responders..."
        =f.submit("Assign Responder")
    - else
      = render partial: "dispatches/dispatch", locals: { dispatch: report.current_dispatch }
      %dl
        %dt Dispatched
        %dd= time_ago_in_words(report.current_dispatch.created_at)
    - if report.status == "pending"
      = form_tag(historify_report_path(id: report.id), :method => :put) do 
        = submit_tag("Move to history")
    - if report.status != "deleted"
      = form_for(report, :method => :delete, :remote => true) do |f|
        = f.submit("Delete")
      

