
%tr{class: "freshness-#{report.freshness}"}
  %th{title: report.created_at.to_s}= report.created_at.strftime("%I:%M %p")
  %th= report.name
  %td= report.phone
  %td
    %dl
      %dt Age
      %dd= report.age
      %dt Gender
      %dd= report.gender
      %dt Race
      %dd= report.race
  %td= report.nature
  %td
    %img{src: "http://maps.googleapis.com/maps/api/staticmap?center=#{report.lat},#{report.long}&zoom=11&size=200x200&sensor=false"}
    = report.address
  %td{class: "report-#{report.id}-dispatch"}
    - if report.pending?
      = render partial: "dispatches/dispatch", locals: { dispatch: report.current_dispatch }
      %dl
        %dt Dispatched
        %dd= time_ago_in_words(report.current_dispatch.created_at)
    - elsif report.unassigned?
      = simple_form_for(Dispatch.new) do |f|
        = f.hidden_field :report_id, value: report.id
        =f.association :responder, collection: Responder.available, label_method: :name, value_method: :id, label: false
        =f.submit("Assign Responder")
