- report_presenter = ReportPresent.new(report)
= content_tag_for :tr, report, class: "freshness-#{report_presenter.freshness}" do
  %td{title: report.created_at.to_s}
    %strong
      .digits= "#{report.created_at.strftime("%I:%M %p")}"
      .time-ago.words
        (
        %abbr.timeago{title: report.created_at.getutc.iso8601}= report.created_at.to_s
        )
      .show_link= link_to("Show Details", report)

  %td= link_to report.name, reporter_path(report, name: report.name)

  %td= link_to report.phone, reporter_path(report, phone: report.phone)

  %td
    - if report.gender?
      %dt Gender
      %dd= report.gender
    - if report.age?
      %dt Age
      %dd= report.age
    - if report.race?
      %dt Race
      %dd= report.race

  %td
    - if report.nature?
      %dd=report.nature
    - if report.setting?
      %dt Setting
      %dd= report.setting
    - if report.observations?
      %dt Observations
      %dd= report.observations * ', '

  %td= link_to report.address, report_presenter.google_maps_address, target: '_blank'

  %td{class: "report-#{report.id}-dispatch"}
    = render "dispatches/create", report: report, responders: responders unless report.archived_or_completed?
    - if report.dispatches.present?
      = render "dispatches/index", report: report
    - elsif report.archived? && report.dispatches.empty?
      No one assigned
