%h2 History
= link_to "Deleted Reports", deleted_reports_path
= simple_form_for 'filter', url: filter_reports_path, remote: true do |f|
  = f.input :start_date, input_html: {class: 'date'}
  = f.input :end_date, input_html: {class: 'date'}
  = f.button :submit
= render partial: "report_table", locals: { reports: @reports }
= paginate @reports

:javascript
  var ready;
  ready = function() {
    $('.date').datepicker({
      dateFormat: 'M d, yy'
    })

  };

  $(document).ready(ready);
  $(document).on('page:load', ready);
