%h2 History
.row
  = simple_form_for '', url: history_reports_path, method: :get do |f|
    .col-sm-2= f.input :start_date, label: 'Start',
      input_html: {class: 'date col-sm-2', value: params[:start_date]}
    .col-sm-2= f.input :end_date, label: 'End',
      input_html: {class: 'date col-sm-2', value: params[:end_date]}
    .col-sm-2= f.button :submit, 'Search Dates', style: 'margin-top:25px;'
    .col-sm-2= link_to 'Show All', history_reports_path(start_date: params[:start_date],
      end_date: params[:end_date], order: params[:order], show_all: true), class: 'btn btn-primary'
%hr
= render partial: "report_table", locals: { reports: @reports }

= paginate @reports unless params[:show_all]

:javascript
  var ready;
  ready = function() {
    $('.date').datepicker({
      dateFormat: 'M d, yy'
    })
  };

  $(document).ready(ready);
  $(document).on('page:load', ready);
