%table.table
  %thead
    %tr
      %th Name
      %th Phone
      %th Location
      %th Responder
      %th Action
  - if @reports.none?
    %tbody
      %tr
        %td{colspan: 4} No Reports
  - else
    %tbody
      - @reports.each do |report|
        %tr
          %th= report.name
          %td= report.phone
          %td= report.nature
          = simple_form_for(report, remote: true) do |f|
            %td= f.select :responder_id, Responder.pluck(:id)
            %td= f.submit("Assign Responder")


