%h2 Create a report
- def @blank_report.is_person; false; end
= simple_form_for(@blank_report, html: {"ng-init" => "isPerson = false"}) do |f|
  %h4 Location
  = f.input :address
  %h4 Reporting Party Information
  = f.input :name, label: "Contact Name"
  = f.input :phone, label: "Contact Phone No.", placeholder: "4158575309", type: "tel", maxlength: "10", required: true, hint: "10-digit US numbers only"
  %div.form-group
    %label.control-label{for: "isPerson"} Is this report concerning a person?
    %input.form-control{"ng-model" => "isPerson", "type" => "checkbox"}
  %div{"ng-show" => "isPerson"}
    %h4 Patient Description
    = f.input :gender, collection: Report::Gender
    = f.input :age, collection: Report::AgeGroups
    = f.input :race, collection: Report::RaceEthnicity
    = f.input :setting, collection: Report::CrisisSetting
    %h4 Incident Description
    = f.input :observations, as: :check_boxes, collection: Report::CrisisObservation
  = f.input :nature, label: "Additional Description"
  = f.submit 'Submit Report', class: 'btn btn-primary'

/ = @location.address
/ = :lat(@location.latitude)
/ = :long(@location.longitude)
