%h2.page-header
  %h1
    Reported
    %small="#{time_ago_in_words(@report.created_at)} ago:"

%ul.list-group
  %li.list-group-item
    %h4.list-group-item-heading Status
    .list-group-item-text=@report.status

  %li.list-group-item
    %h4.list-group-item-heading Reported at
    .list-group-item-text=@report.created_at

  %li.list-group-item
    %h4.list-group-item-heading Reporting Party
    .list-group-item-text=@report.name
    .list-group-item-text=@report.phone

  %li.list-group-item
    %h4.list-group-item-heading Address
    .list-group-item-text=@report.address

  %li.list-group-item
    %h4.list-group-item-heading Patient
    .list-group-item-text="#{@report.age} #{@report.race} #{@report.gender}"
    .list-group-item-text="\"#{@report.nature}\""

  %li.list-group-item
    %h4.list-group-item-heading Feedback
    .list-group-item-text=@report.feedback
