%h2.page-header
  %h1
    = @report.neighborhood ? "Crisis in #{@report.neighborhood}" : "Reported"
    %small="#{time_ago_in_words(@report.created_at)} ago:"

.row
  %ul.list-group.col-md-4
    %li.list-group-item
      .list-group-item-text.pull-right.btn=link_to "Move to History", report_path(@report, {report: {status: 'closed'}}), method: 'PUT'
      %h4.list-group-item-heading Status
      .list-group-item-text=@report.status

    %li.list-group-item
      %h4.list-group-item-heading Reported at
      .list-group-item-text=@report.created_at

    %li.list-group-item
      %h4.list-group-item-heading Reporting Party
      .list-group-item-text=@report.name
      .list-group-item-text=@report.phone

    %li.list-group-item
      %h4.list-group-item-heading Address
      .list-group-item-text=@report.address

    %li.list-group-item
      %h4.list-group-item-heading Patient
      .list-group-item-text="#{@report.age} #{@report.race} #{@report.gender}"
      .list-group-item-text=@report.nature ? "\"#{@report.nature}\"" : "<Nature Not Provided>"



  %ul.list.group.col-md-8
    %li.list-group-item
      %h4.list-group-item-heading Transcript
      - @report.logs.each_with_index do |log, i|
        %div{class: "row log-entry#{' dark' if i.odd?}"}
          .col-md-1= log.created_at.strftime('%H:%M')
          .col-md-1= log.author.name
          .col-md-6= log.body
          - unless @report.unassigned? || log.broadcasted?
            .col-md-3.forward-via-sms=link_to "SMS to #{@report.responder.name}", log_path(log), method: 'PUT'
          - if log.broadcasted?
            .col-md-3.sent-stamp= "sent to #{@report.responder.name} (#{log.updated_at.strftime('%H:%M')})"




    %li.list-group-item.metaphone
      - placeholders = ['Subject has been delivered to Azkaban...', 'Hold on a minute, I am washing my face...', 'Is now a good time to mention my relationship with the Subject?']
      = simple_form_for @metaphone do |f|
        .row
          .col-md-12= f.input :body, as: :string, label: false, placeholder: placeholders.sample
          = f.input :author_id, as: :hidden, input_html: { value: current_user.id }
          = f.input :report_id, as: :hidden, input_html: { value: @report.id }
