%h2.pusher-id{'data-id' => @report.id, 'data-type' => 'report'}
  = @report.neighborhood ? "Report in #{@report.neighborhood}" : "Reported"
  %small
    %abbr.timeago{title: @report.created_at.getutc.iso8601}= @report.created_at.to_s
.row
  %ul.list-group.col-md-4
    %li.list-group-item
      .btn-archive.list-group-item-text.pull-right= link_to 'Archive', report_path(@report, report: {status: 'archived'}), 'data-confirm' => 'Are you sure you want to archive the report?', method: :put, class: 'btn btn-warning' unless @report.archived_or_completed?
      .btn-complete.list-group-item-text.pull-right= link_to 'Complete', report_path(@report, report: {status: 'completed'}), 'data-confirm' => 'Are you sure you want to complete the report?', method: :put, class: 'btn btn-success' unless @report.archived_or_completed?

      %h4.list-group-item-heading Status
      .list-group-item-text= @report.current_status.capitalize

    %li.list-group-item
      %h4.list-group-item-heading Reported at
      .list-group-item-text=@report.created_at

    %li.list-group-item
      %h4.list-group-item-heading Reporting Party
      .list-group-item-text=@report.name
      .list-group-item-text=@report.phone

    %li.list-group-item
      %h4.list-group-item-heading Address
      .list-group-item-text=@report.address

    - if @report.urgency?
      %li.list-group-item
        %h4.list-group-item-heading Urgency
        .list-group-item-text= urgency_label(@report.urgency)

    - if @report.nature? || @report.age? || @report.race? || @report.gender?
      %li.list-group-item
        %h4.list-group-item-heading Client
        .list-group-item-text="#{@report.age} #{@report.race} #{@report.gender}"
        .list-group-item-text=@report.nature

    - if @report.observations?
      %li.list-group-item
        %h4.list-group-item-heading Observations
        .list-group-item-text=@report.observations.join(', ')

    %li.list-group-item
      %h4.list-group-item-heading Files
      - if @report.image.present?
        .list-group-item-text= link_to "Download #{@report.image_file_name}", download_report_path(@report)
        %a{:target => "_blank", :href => @report.image.url(:original)}
          %img{:src => @report.image.url, :style => 'width:200px;height:auto;'}
        .list-group-item-text= link_to "Remove File", report_path(@report, "report[delete_image]" => '1'), method: :put
        %small One attachment per report only
      - else
        .list-group-item-text
          = simple_form_for @report do |f|
            = f.input_field :image
            %br
            = f.button :submit, 'Add File'

    .btn-delete
      = link_to 'Delete', report_path(@report), method: :delete,
      'data-confirm' => 'Are you sure you want to delete the report? All dispatches and records of this report will be destroyed permanently.', class: 'btn btn-danger'

  %ul.list.group.col-md-8
    = render partial: "reports/logroll", locals: {report: @report}
    .col-md-6
      %br
      %br
      %td{class: "@report-#{@report.id}-dispatch"}
      = render partial: "dispatches/create", locals: { report: @report, responders: @available_responders } unless @report.archived_or_completed?
    .col-md-6
      %br
      - if @report.dispatches.present?
        = render partial: "dispatches/index", locals: { report: @report }
