.container
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
      %img{src: asset_path("mobile-menu-05.png")}/
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "/"}
  .navbar-collapse.collapse.drop-nav
    - if user_signed_in?
      %ul.nav.navbar-nav
        - if current_user.role == 'dispatcher'
          %li= link_to 'Dispatch', reports_path
          %li= link_to "Active", active_reports_path
          %li= link_to "History", history_reports_path
          %li= link_to "Responders", responders_path
        %li= link_to "Create Report", new_report_path
      .navbar-right.navbar-text
        Logged in as
        %strong= current_user.email
        = link_to 'Profile', edit_user_registration_path, class: 'navbar-link'
        |
        = link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link'
    - else
      #sign-in-form
        = simple_form_for(:user, url: session_path(:user), html: {class: "navbar-form navbar-right"}) do |f|
          = f.input :email, placeholder: "email",  label: false
          = f.input :password, type: :password, placeholder: "password", label: false
          = f.submit "Login", class: "btn btn-success"
