!!!
%html
  %head
    %title Concrn
    = csrf_meta_tags
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "//js.pusher.com/2.2/pusher.min.js"
    = javascript_include_tag "application"
    
    %meta{:content => "initial-scale=1,maximum-scale=1,user-scalable=no", :name => "viewport"}
    %script{:src => "https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.js"}
    %link{:href => "https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.css", :rel => "stylesheet"}
    %script{:src => "http://code.highcharts.com/highcharts.js"}
    
    %link{rel: "apple-touch-icon", sizes: "57x57", href: asset_path("apple-touch-icon-57x57.png")}
    %link{rel: "apple-touch-icon", sizes: "114x114", href: asset_path("apple-touch-icon-114x114.png")}
    %link{rel: "apple-touch-icon", sizes: "72x72", href: asset_path("apple-touch-icon-72x72.png")}
    %link{rel: "apple-touch-icon", sizes: "144x144", href: asset_path("apple-touch-icon-144x144.png")}
    %link{rel: "apple-touch-icon", sizes: "60x60", href: asset_path("apple-touch-icon-60x60.png")}
    %link{rel: "apple-touch-icon", sizes: "120x120", href: asset_path("apple-touch-icon-120x120.png")}
    %link{rel: "apple-touch-icon", sizes: "76x76", href: asset_path("apple-touch-icon-76x76.png")}
    %link{rel: "apple-touch-icon", sizes: "152x152", href: asset_path("apple-touch-icon-152x152.png")}
    %link{rel: "apple-touch-icon", sizes: "180x180", href: asset_path("apple-touch-icon-180x180.png")}
    %link{rel: "icon", type: "image/png", href: asset_path("favicon-192x192.png"), sizes: "192x192"}
    %link{rel: "icon", type: "image/png", href: asset_path("favicon-160x160.png"), sizes: "160x160"}
    %link{rel: "icon", type: "image/png", href: asset_path("favicon-96x96.png"), sizes: "96x96"}
    %link{rel: "icon", type: "image/png", href: asset_path("favicon-16x16.png"), sizes: "16x16"}
    %link{rel: "icon", type: "image/png", href: asset_path("favicon-32x32.png"), sizes: "32x32"}
    %meta{name: "msapplication-TileColor", content: "#f9f4ef"}
    %meta{name: "msapplication-TileImage", content: "/mstile-144x144.png"}
    %link{href:'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900', rel: 'stylesheet'}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}

  %body{'data-pusher-key' => ENV['PUSHER_KEY']}
    = conditional_nav_tag do
      = render 'layouts/navbar'
    = yield :before_grid
    .container.main
      = render 'layouts/header'
      = render 'layouts/notifications'
      = yield
      = render 'layouts/footer'
  = yield :footer_js
