<!DOCTYPE html>
<html>
<head>
  <title>Concrn</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//js.pusher.com/2.1/pusher.min.js" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="<%= asset_path("concrn-favicon.png")%>" />
</head>
<body>
    <%= conditional_nav_tag do %>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <img src="<%= asset_path("mobile-menu-05.png")%>">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="<%= asset_path("concrn-logo-small.png")%>" alt="Concrn"></a>
        </div>
        <div class="navbar-collapse collapse drop-nav">
          <% if user_signed_in? %>
            <% if current_user.role == 'dispatcher' %>
              <ul class="nav navbar-nav">
                <li ><a href="<%= reports_path %>">Dispatch</a></li>
                <li ><a href="<%= active_reports_path%>">Active</a></li>
                <li ><a href="<%= history_reports_path %>">History</a></li>
                <li ><a href="<%= responders_path %>">Responders</a></li>
                <li ><a href="<%= new_report_path %>">Create Report</a></li>
                <li ><a href="<%= new_contact_path %>">Log Contact</a></li>
              </ul>
            <% end %>
            <div class='navbar-right'>
              <div class="navbar-text">Logged in as <strong><%= current_user.email %></strong>
                <%= link_to 'Profile', edit_user_registration_path, :class => 'navbar-link' %> |
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
              </div>
            </div>
          <% else %>
            <%= simple_form_for(:user, :url => session_path(:user), :html =>  {:class => "navbar-form navbar-right"}) do |f| %>
              <%= f.input :email, placeholder: "email",  label: false %>
              <%= f.input :password, type: :password, placeholder: "password", label: false %>
              <%= f.submit "Login", class: "btn btn-success"%>
            <% end %>
          <% end %>
        </div><!--/.navbar-collapse -->
      </div>
    <% end %>
    <%= yield :before_grid %>
    <div class="container main">
      <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
            <p class="alert alert-warning"><%= alert %></p>
      <% end %>
      <%= yield %>
      <footer>
        <p>&copy; Concrn (2014)</p>
      </footer>
    </div> <!-- /container -->
</body>
</html>
