<!DOCTYPE html>
<html>
<head>
  <title>Streetmom</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://js.pusher.com/2.1/pusher.min.js" %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>





    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Streetmom</a>
        </div>
        <div class="navbar-collapse collapse">
          <% if user_signed_in? %>
            <div class='navbar-right'>
              <div class="navbar-text">Logged in as <strong><%= current_user.email %></strong>
                <%= link_to 'Profile', edit_user_registration_path, :class => 'navbar-link' %> |
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
              </div>
            </div>
          <% else %>
            <%= simple_form_for(:user, :url => session_path(:user), :html =>  {:class => "navbar-form navbar-right"}) do |f| %>
              <%= f.input :email, placeholder: "email",  label: false %>
              <%= f.input :password, type: :password, placeholder: "password", label: false %>
              <%= f.submit "Login", class: "btn btn-success"%>
            <% end %>
          <% end %>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <div class="container main">
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
          <p class="alert alert-warning"><%= alert %></p>
    <% end %>
      <%= yield %>
      <footer>
        <p>&copy; Savage Industries (2013 - End of time)</p>
      </footer>
    </div> <!-- /container -->
</body>
</html>
